<div class="card shadow-border w-100 ">
    <div class="card-body">
        <div class="text-center mb-3 mt-3">
            <h3 >SUBSCRIPTION FORM</h3>
            <p  class="sub-text m-auto py-4"> Stay updated with our latest news, promotions, and more. Enter your email below to subscribe!</p>
            <form action="" class=" text-center">
                <div class="d-flex justify-content-center mb-3">
                  <div class="form-group col-md-5 px-2">
                    <input type="text" class="form-control shadow-border" placeholder="Your Name">
                  </div>
                  <div class="form-group col-md-5 px-2">
                    <input type="email" class="form-control shadow-border" placeholder="Your Email">
                  </div>
                </div>
                <div>
                  <button class="btn btn-dark  btn-lg ">SUBSCRIBE</button>
                </div>
              </form>
              
        </div>
    </div>
</div>