.card{
    height: auto;
    margin-bottom: 90px;
    
   
}
.card div{
    padding: 20px;
}
input[text],input[email]{
    height: 80px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.sub-text{
    width: 500px;
}