<div class="cat-head container-fluid">
    <div class="container">
        <h1>CHOOSE BY CATEGORY</h1>
        <P>Explore our diverse range of categories designed to meet your needs. Whether you’re looking for</P>
    </div>

</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4">
            <app-post-card></app-post-card>
        </div>

    </div>
</div>