<div class="card mt-5 pb-5 mb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3 p-4"> COMMENTS (15.265) </h4>

        <div class="comment-box mt-3 p-4">
            <h6 class="mb-0">Ali Mahmoud</h6>
            <small class="text-danger">LAST UPDATED-SEP 20 , 2021 </small>

            <div class="MB-3 MT-3">The colors and designs you have this season are stunning. Keep them coming</div>

            <a href="#" class="mt-1  text-danger">REPLY</a>
            <a href="#" class="mt-1 mx-3 ml-5 text-danger">VIEW REPLY</a>

        </div>

        <div class="comment-box mt-3 p-4">
            <h6 class="mb-0">Somaia Adel</h6>
            <small class="text-danger">LAST UPDATED-SEP 14 , 2024 </small>

            <div class="MB-3 MT-3">Fast delivery and beautiful packaging! I felt special opening my order. Thank you!</div>

            <a href="#" class="mt-1  text-danger">REPLY</a>
            <a href="#" class="mt-1 mx-3 ml-5 text-danger">VIEW REPLY</a>

        </div>

        <div class="comment-box mt-3 p-4">
            <h6 class="mb-0">Amira saeed</h6>
            <small class="text-danger">LAST UPDATED-JUN 12 , 2023 </small>

            <div class="MB-3 MT-3">I've gotten so many compliments on my new outfit from your boutique❤️</div>

            <a href="#" class="mt-1  text-danger">REPLY</a>
            <a href="#" class="mt-1 mx-3 ml-5 text-danger">VIEW REPLY</a>

        </div>


    </div>
</div>