<h1 class="text-center cat-head">Returns & Exchanges</h1>

<div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="card w-75">
      <div class="card-body">
        <img src="https://images.pexels.com/photos/787929/pexels-photo-787929.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="women" class="img-fluid mx-auto d-block my-4">
        <div class="d-flex justify-content-center mb-3">
          <small class="bg-light text-danger mx-2">DRESSES</small>
          <small class="bg-light text-success mx-2">TOPS</small>
          <small class="bg-light text-info mx-2">BEAUTY</small>
          <small class="bg-light text-warning mx-2">CLOTHING</small>
        </div>
        <p>Welcome to GUZEL Boutique’s Returns page. We’ll cover our policy, as well as our most-asked questions related to returns and exchanges. Please review our top questions answered below.<br><br>
          <strong>REDO FREE RETURNS & EXCHANGES + PACKAGE PROTECTION (available in midle east only):</strong><br>
           By selecting Redo Free Returns & Exchanges at checkout, your return shipping cost will be covered on all qualified returns AND all lost, stolen, or damaged items can be quickly replaced!<br>
           The Redo Free Returns selection cannot be removed from an order once the order has been placed.<br>
          If you choose not to purchase Redo's Free Return option, you will be responsible for the return shipping cost.<br>

          <p class="fw-bold"> What is your Return Policy?</p> 

 we understand that sometimes your dream item didn’t end up being all that dreamy. We are happy to accept returns and will issue store credit for the amount of the item(s). Please review our full return policy below. 

Returns are for store credit only. If item(s) arrive damaged, we will ship out a replacement if available, or store credit will be issued if item(s) are unavailable.
Return shipping labels can be generated upon return through our online Returns Portal found above. Please be sure to select Redo Free Returns and Exchanges when ordering, and for a small fee of $3.98 in the US/$4.98 for Canada - your return label will be FREE if needed AND your package will be covered if lost, stolen, or damaged. Plus the exchange is automatic when selected! If Redo is not selected, you are still able to initiate a return, but at your cost of return shipping.
Items marked FINAL SALE in title or on product page may not be returned, refunded or exchanged. This includes holiday doorbusters. We are always making room for new inventory!
All returns/exchanges must be done within 30 days of order fulfilled.
Items must be unwashed and unworn. If items appear worn, have makeup or other stains, excessive pet hair, or smell of smoke or perfume, your return WILL NOT be accepted and will be returned to you at your expense. 
NON-RETURNABLE: Final sale items, Jewelry & Accessories, Intimates, Bras, Camisoles, Slips, Socks, Hats, Holiday Doorbusters, and Health & Beauty items.
Shoes must be returned in their original box or bag provided and placed inside an additional protective shipping safe box/bag to be eligible.  
Damages must be reported within 3 days of receiving merchandise. Please contact infoguzel.com .com or 317-888-8259 for assistance. 
Store credit expires 1 year after it being issued.
Magnolia Boutique reserves the right to charge a flat $10 restocking fee for excessive returns. Exchanges excluded. 
Magnolia Boutique reserves the right to refuse service to customers who abuse our policies listed above.
<p class="text-danger pt-2">
    Items not meeting the above guidelines will be returned to you at your expense; after 30 days all non-returnable merchandise will be donated. For additional information on returns, or if you have a question that wasn’t answered,
     please contact our support section



</p>
  
      </div>
    </div>
  </div>
  