<footer class="fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                 <div class="foot-up">
                    <a href="#" class="logo"> Guzel </a>
                </div> 
                <div>
                    <ul class="nav justify-content-center d-flex nav-link">
                        <li class="nav-item"><a href="" class="nav-link text-dark">HOME</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-dark">ABOUT</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-dark">TERMS & CONDITIONS</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-dark">CONTACT</a></li>
                    </ul>
                </div>
                <p class="mb-2  mt-2 last">GUZEL-2024</p>
            </div>
        </div>
    </div>
</footer>
