<section class="mt-5">
    <div class="container mb-5 mt-5 p-5 ">

        <div class="p-5 mt-5 card m-2 text-center">
            <h1 class="head mb-5">ABOUT US</h1>
            <p>
                Welcome to GUZEL , your destination for style, elegance, and self-expression. We’re more than just a boutique; we’re a community built around a love for fashion and a commitment to empowering individuals through style.
            </p>

            <p>
                Since our inception, we’ve been dedicated to curating collections that balance the latest trends with timeless elegance. Each piece we offer is thoughtfully selected, ensuring you have access to a wide range of styles—from chic, everyday essentials to stunning statement pieces for special occasions. We believe fashion is a powerful form of self-expression, and we’re here to help you express yourself confidently and beautifully.
            </p>

            <p>
                What truly sets us apart is our customer-centric approach. We’re passionate about building lasting relationships with our customers and creating a shopping experience that feels personal and welcoming. Whether you’re browsing online or visiting us in-store, you can count on friendly, knowledgeable staff ready to assist you with styling advice, recommendations, and answers to any questions you might have. Your satisfaction is our top priority.

            </p>

            <p>
                As a boutique, we’re also deeply committed to giving back to our community. We regularly partner with local artisans, charities, and initiatives to support causes that matter to us—and to you. When you shop with [Boutique Name], you’re not just buying clothing; you’re joining a movement to support local talent, make a positive impact, and bring a little more beauty and kindness into the world
            </p>

            <p>
                Thank you for being a part of the GUZEL family. Together, let’s continue to make fashion fun, meaningful, and uniquely yours.


            </p>

            <div class="text-center">
                <button class="btn btn-dark btn-lg w-25 mt-4" >BACK TO HOME</button>


            </div>
            
        </div>
    </div>
</section>