/* You can add global styles to this file, and also import other style files */
/*repeated css styles in more than one coponent , best practice to put them into styles.css [main]*/


 @import "~ngx-toastr/toastr";
:root {
    --primarycolor: hotpink;
    --seccolor: rgb(255, 208, 215);
    --bodytxtcolor: #596392;
    --navfootcolor: lightpink;
}

.logo{
    padding: 5px 20px ;
    color: white;
    text-shadow: 1px 4px 3px rgb(244, 35, 140);
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: x-large;
    border: none;

}
.nav-link{
    color:white;
} 
/*border shadow*/
.shadow-border{
    border: none;
    box-shadow: 0px 0px 33px -10px var(--navfootcolor);
}
.cat-head{
    background-color: var(--seccolor);
}
.bg-sec-theme{
    background-color: var(--seccolor);
}



