footer{
    height: 130px;
    padding: 15px;
    background-color:var(--navfootcolor) ;
    height: 50px;
    
}
body{
    background-color: var(--seccolor);
}
 .logo{
    
    border-radius: 20px;
    font-size: 1.1rem;
    
    
} 
.last{
    color: var(--primarycolor);

}
