<div class="card mt-5 p-4 ">
    <div class="card-body mt-3 text-center ">


        <form action="/" >
            <h4>LEAVE YOUR COMMENT</h4>
            <p> you can leave a comment by using this comment form</p>
            <div class="form-group">
                <label for="name">NAME</label>
                <input type="text" placeholder="your name" class="form-control shadow-border">

                <label for="comment">COMMENT</label>
                <textarea placeholder="leave your massage here" cols="30" rows="10" class="form-control shadow-border">

                </textarea>

                <button class="btn  btn-dark btn-lg mt-4">LEAVE A MASSAGE</button>

            </div>
        </form>
    </div>


</div>