<div class="card shadow-border">
    <div class="card-body">
        <div class="text-center mb-5 mt-3">
            <h3>SUBSCRIPTION FORM</h3>
            <p  class="sub-text m-auto"> Stay updated with our latest news, promotions, and more. Enter your email below to subscribe!</p>
            <form action="" class="mb-5 form-inline justify-content-center d-flex text">
                <div class="form-group col-md-5 px-3">
                    <input type="text" class="form-control shadow-border " placeholder="your name">
                </div>

                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-border" placeholder="your email">
                </div>

                <div class="col-md-1">
                    <button class="btn btn-info  btn-sub btn-lg"> SUBSCRIPE</button>
                </div>

            </form>
        </div>
    </div>
</div>